#question-list {
    /*display: grid;
    grid-template-columns: 1fr;*/
    width: 800px;
    margin: 75px auto;
    border: 1px solid #808080;
    padding: 40px 40px 60px 40px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px 1px #000000;
    background-color: rgba(255,255,255, 0.95);
}

.question-container {
    width: 60%;
    padding: 20px;
    border: 1px solid #000000;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
}

.question-row {
    display: grid;
    text-align: center;
    height: 45px;
    grid-gap: 0;
    grid-template-columns: 10% 40% 10% 40%;
}

.question-row:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
}